{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
<h1>Board Game Recommendations!</h1>
{% endblock %}

{% block content %}
This site is intended to supplement <a href="https://boardgamegeek.com/">BoardGameGeek</a> by testing out and providing game recommendations that are <i>explainable</i>. You might not agree with the recommendations but the goal is to help you understand why these recommendations were made.

Use the navbar above to try out the different methodologies.
{% endblock %}